@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:400,700');

// Variables
$main-font: 'Roboto', 'sans-serif';
$classy-font: 'Playfair Display', 'sans-serif';


// Colors
$color-black: #111;
$color-white: #fff;
$color-light-grey: rgba(100, 100, 100, 0.527);
$color-light-blue: #00b0ff;
$color-dark-blue: #04577e;
$color-yellow: #f2d800;

// Utilities
.container{
    width: 100%;
    position: relative;
}









// Importing all sass files
@import "reset";
@import "landing";
@import "navbar";
@import "carousel";
@import "itemShowcase";
@import "about";
@import "reviews";
