@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Roboto:400,700');

// Variables
$main-font: 'Roboto', 'sans-serif';
$classy-font: 'Playfair Display', 'sans-serif';


// Colors
$color-black: #111;
$color-white: #fff;
$color-light-blue: #00b0ff;

// Utilities
.container{
    width: 100%;
    position: relative;
}









// Importing all sass files
@import "reset";
@import "landing";
@import "navbar";
@import "carousel";
